# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../../../../:\Users\kryst\OneDrive\Pulpit\Studia_Magisterskie_Krystian_Gasior\Zaawansowane_Programowanie_obiektowe_cwiczenia\ZPO-Kowalewska-Aleksandra\src\pl\edu\uwm\wmii\Krystian_Gasior\laboratorium00\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
